<div ng-controller='NavigationController'>
		<div class="row">
			<div class="col-md-12">
				<nav class="nav-bar">
					<a href="#" class="nav-item">Home</a>
					<a href="#" class="nav-item">About</a>
				</nav>
			</div>
		</div>
	</div>
	
	<div ng-controller='ProductDetail' class="container">
		<div class="product-detail">
				<div class="col-lg-6">
						<div id="slides_container">
						  <div id="slides">
						    <div class="slide" style="background-image: url({{ imagen1 }});"></div>
						    <div class="slide" style="background-image: url({{ imagen2 }});"></div>
						    <div class="slide" style="background-image: url({{ imagen3 }});"></div>
						    <div class="slide" style="background-image: url({{ imagen4 }});"></div>  
						    <div class="slide" style="background-image: url({{ imagen5 }});"></div>
						  </div>
						</div>

						<div id="slides_controls">
						  <label style="background-image: url({{ imagen1 }});"><input type="radio" name="slides_controls" /></label>
						  <label style="background-image: url({{ imagen2 }});"><input type="radio" name="slides_controls" /></label>
						  <label style="background-image: url({{ imagen3 }});"><input type="radio" name="slides_controls" /></label>
						  <label style="background-image: url({{ imagen4 }});"><input type="radio" name="slides_controls" /></label>
						  <label style="background-image: url({{ imagen5 }});"><input type="radio" name="slides_controls" /></label>
						</div>

				</div>
				<div class="col-lg-6">
					<h2> {{title}}</h2>
					<p>	{{ date }}</p>
					<p>	{{ description }}</p>
					<p> {{ price }}</p>
					<div class="rating">
						<div class="stars">
							<a class="star rated"></a>
							<a class="star rated"></a>
							<a class="star rated"></a>
							<a class="star"></a>
							<a class="star"></a>
						</div>
					</div>
				</div>
		</div>
	</div>