<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../js/script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="formulario">
    <form>
      <div class="form-group">
        <label for="form-titulo">Titulo</label>
        <input type="text" class="form-control" id="form-titulo" placeholder="Titulo">
      </div>
      <div class="form-group">
        <label for="form-precio">Precio</label>
        <input type="text" class="form-control" id="form-precio" placeholder="Precio">
      </div>
      <div class="form-group">
        <label for="form-imagen">Imagen</label>
        <input type="text" class="form-control" id="form-imagen" placeholder="Imagen">
      </div>
      <div class="form-group">
        <label for="form-descripcion">Descripcion</label>
        <textarea class="form-control" id="form-descripcion" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  
</body>
</html>